
  .cam-box{
    z-index: 1;
    position: absolute;
    top:-4vh;
    right: 7vw;
    

  }
  .utility-box{
    z-index: 1;
    position: fixed;
    top:51vh;
    min-height: 48vh;

  }
  footer{

    position: fixed;
    top:88vh;
  }
  .pointer{


    cursor: pointer;
  }

  .position{


    position:relative;
    top:1vh;
  }


  .chatClose{

    
    position: absolute;
    top:-5vh;
    right: 5vw;


  }

  .btnHid{
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom:14vh;
  left:35vw;

}